{% extends 'base.html' %}

{% block content %}
	<section>
      <h1> Hello from my home page </h1>
        <table class="table table-striped">
      <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
    <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.category }}</td>
        <td>{{ event.date }}</td>
    </tr>
  {% endfor %}
  </tbody>

  </table>
    </section>
{% endblock %}
